################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OCInteractionTest/OCInteractionTest/obj/Debug
